#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#include "../zmk-nodefree-config-main/helper.h"
#include "../zmk-nodefree-config-main/keypos_def/keypos_36keys.h"
#include "../zmk-nodefree-config-main/international_chars/german.dtsi"

#define BASE 0
#define RAISE 1
#define MIRROR 2
#define ADJUST 3

#define MO_TOG(layer) &mo_tog layer layer   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer
#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0 1 2>; \
  };

ZMK_UNICODE_SINGLE(ucd_delta,  N0, N3, N9, N4)

&mt {
    tapping-term-ms = <200>;
    retro-tap;
};
    
/ {
    macros {
        mcr_025: mcr_025 {
            label = "mcr_025";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp A>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp KP_N0 &kp DOT &kp KP_N0 &kp KP_N2 &kp KP_N5>
                , <&macro_tap &kp RET>
                ;
        };
        mcr_125: mcr_125 {
            label = "mcr_125";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp A>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp KP_N0 &kp DOT &kp KP_N1 &kp KP_N2 &kp KP_N5>
                , <&macro_tap &kp RET>
                ;
        };
        mcr_250: mcr_250 {
            label = "mcr_250";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp A>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp KP_N0 &kp DOT &kp KP_N2 &kp KP_N5>
                , <&macro_tap &kp RET>
                ;
        };
        mcr_375: mcr_375 {
            label = "mcr_375";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp A>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp KP_N0 &kp DOT &kp KP_N3 &kp KP_N7 &kp KP_N5>
                , <&macro_tap &kp RET>
                ;
        };
        mcr_500: mcr_500 {
            label = "mcr_500";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp A>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp KP_N0 &kp DOT &kp KP_N5>
                , <&macro_tap &kp RET>
                ;
        };
        mcr_deg: mcr_deg {
            label = "mcr_deg";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N2 &kp KP_N4 &kp KP_N8>
                , <&macro_release &kp LALT>
                ;
        };
        mcr_mueps: mcr_mueps {
            label = "mcr_mueps";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N2 &kp KP_N3 &kp KP_N0>
                , <&macro_release &kp LALT>
                , <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N2 &kp KP_N3 &kp KP_N8>
                , <&macro_release &kp LALT>
                ;
        };
        mcr_mu: mcr_mu {
            label = "mcr_mu";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N2 &kp KP_N3 &kp KP_N0>
                , <&macro_release &kp LALT>
                ;
        };
        mcr_eps: mcr_eps {
            label = "mcr_eps";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N2 &kp KP_N3 &kp KP_N8>
                , <&macro_release &kp LALT>
                ;
        };
        mcr_pi: mcr_pi {
            label = "mcr_pi";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N2 &kp KP_N2 &kp KP_N7>
                , <&macro_release &kp LALT>
                ;
        };
        mcr_sig: mcr_sig {
            label = "mcr_sig";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N2 &kp KP_N2 &kp KP_N9>
                , <&macro_release &kp LALT>
                ;
        };
        mcr_plsmns: mcr_plsmns {
            label = "mcr_plsmns";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N7>
                , <&macro_release &kp LALT>
                ;
        };
        mcr_paren: mcr_paren {
            label = "mcr_paren";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp F2 &kp LPAR &kp RPAR &kp LEFT>
                ;
        };
        mcr_pw: mcr_pw {
            label = "mcr_pw";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp I>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp n &kp t &kp e &kp r &kp f &kp e &kp r &kp o &kp m &kp e &kp t &kp e &kp r &kp N4 &kp RET>
                ;
        };
};
        
  
        combos {
/*                        KEY POSITIONS
  ╭────────────────────────╮         ╭────────────────────────╮
  │  0   1   2   3   4   5 │         │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │         │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 ╰───╮ ╭───╯ 30  31  32  33  34  35 │
  │ 36  37  38  39  40  41  42 | | 43  44  45  46  47  48  49 │  note: encoder pushbuttons on 42 and 43
  ╰───────╮ 50  51  52  53  54 │ │ 55  56  57  58  59 ╭───────╯
          ╰────────────────────╯ ╰────────────────────╯        
                      COMBOS with RAISE (53)
  ╭───────────────────────────╮          ╭────────────────────────╮
  │ _  .025 .125 .25  .375 .5 │          │  _   _   _   _   _   _ │
  │ _   _    _    ^    _    _ │          │  _   _   _   _   _   _ │
  │ _   _    <-   v    ->{±}_ ╰────╮ ╭───╯  _   _   _   _   _   _ │
  │ _   π    °    σ    µ{µε}ε    _ | | _    _   _   _   _   _   _ │
  ╰───────╮ PSCRN _    _  RAISE  _ │ │ _    _   _   _   _ ╭───────╯
          ╰────────────────────────╯ ╰────────────────────╯        */
            compatible = "zmk,combos";
            
            COMBO(cmb_bspc, &kp BSPC, 13 14)
            COMBO(cmb_del, &kp DEL, 14 15)
            COMBO(cmb_enter, &kp RET, 48 49)
            COMBO(cmb_up1, &kp UP, 57 58)
            COMBO(cmb_up, &kp UP, 15 53)
            COMBO(cmb_down, &kp DOWN, 27 53)
            COMBO(cmb_left, &kp LEFT, 26 53)
            COMBO(cmb_right, &kp RIGHT, 28 53)
            COMBO(cmb_delta, &ucd_delta, 36 53)
            COMBO(cmb_pi, &mcr_pi, 37 53)
            COMBO(cmb_deg, &mcr_deg, 38 53)
            COMBO(cmb_sig, &mcr_sig, 39 53)
            COMBO(cmb_mu, &mcr_mu, 40 53)
            COMBO(cmb_eps, &mcr_eps, 41 53)
            COMBO(cmb_mueps, &mcr_mueps, 40 41 53)
            COMBO(cmb_plsmns, &mcr_plsmns, 28 29 53)
            COMBO(cmb_pscrn, &kp PSCRN, 50 53)
            COMBO(cmb_025, &mcr_025, 1 53)
            COMBO(cmb_125, &mcr_125, 2 53)
            COMBO(cmb_250, &mcr_250, 3 53)
            COMBO(cmb_375, &mcr_375, 4 53)
            COMBO(cmb_500, &mcr_500, 5 53)
            COMBO(cmb_pw, &mcr_pw, 9 10 11)
            COMBO(cmb_minus, &kp MINUS, 28 29)
        };
    };
};

/ {
    // Activate ADJUST layer by pressing numarrow and code
    //conditional_layers {
    //     compatible = "zmk,conditional-layers";
    //     adjust_layer {
    //         if-layers = <NUMBER CODE>;
    //         then-layer = <ADJUST>;
    //     };
    //};
    
    behaviors {
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_tog";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };
        td_Lshftcaps: td_Lshftcaps {
            compatible = "zmk,behavior-tap-dance";
            label = "td_Lshftcaps";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
        td_Rshftcaps: td_Rshftcaps {
            compatible = "zmk,behavior-tap-dance";
            label = "td_Rshftcaps";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RSHFT>, <&kp CAPS>;
        };
    };
  
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
/* ╭─────────────────────────────────╮                 ╭──────────────────────────────────╮
   |   ESC    1    2    3    4    5  |                 |  6    7    8    9    0    BKSPC  |
   |   TAB    Q    W    E    R    T  |                 |  Y    U    I    O    P      |    |
   |SHFT/CAP  A    S    D    F    G  ╰───────╮ ╭───────╯  H    J    K    L    ;:    ' "   |
   |   CTRL   Z    X    C    V    B     C_PP | | C_PP     N    M    ,    .    /?  SHFT/CAP|
   ╰────────────╮ WIN  ALT ENTER RAISE SPACE | | SPACE RAISE   <-   v   -> ╭──────────────╯
                ╰────────────────────────────╯ ╰───────────────────────────╯              */
            bindings = <
&kp ESC       &kp N1 &kp N2   &kp N3   &kp N4  &kp N5                        &kp N6      &kp N7   &kp N8    &kp N9   &kp N0   &kp BSPC
&kp TAB       &kp Q  &kp W    &kp E    &kp R   &kp T                         &kp Y       &kp U    &kp I     &kp O    &kp P    &kp PIPE
&td_Lshftcaps &kp A  &kp S    &kp D    &kp F   &kp G                         &kp H       &kp J    &kp K     &kp L    &kp SEMI &kp APOS
&kp LCTRL     &kp Z  &kp X    &kp C    &kp V   &kp B     &kp C_PP  &kp C_PP  &kp N       &kp M    &kp COMMA &kp DOT  &kp FSLH &td_Rshftcaps
                     &kp LGUI &kp LALT &kp RET &mo RAISE &kp SPACE &kp SPACE &mo_tog 1 1 &kp LEFT &kp DOWN &kp RIGHT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp UP DOWN>;
        };
        
        raise_layer {
/* ╭───────────────────────────────────╮               ╭───────────────────────────────────╮
   |    `      ~     (    )    $    () |               | .025  .125  .25  .375  0.5  BKSPC |
   |   TAB     7     8    9    =    _  |               |  σ     µ     ε    {     }   BSLH  |
   |MirrorLyr  4     5    6    +    -  ╰──────╮ ╭──────╯  °     π     ±    [     ]         |
   |           1     2    3    *    /    C_PP | | C_PP   HOME  END    ,    .      AdjustLyr|
   ╰────────────╮    0    .  ENTER      SPACE | | SPACE         <-    v   -> ╭─────────────╯
                ╰─────────────────────────────╯ ╰────────────────────────────╯              */
            bindings = <
&kp GRAVE  &kp TILDE &kp LPAR &kp RPAR &kp DLLR  &mcr_paren                   &mcr_025 &mcr_125 &mcr_250    &mcr_375 &mcr_500 &kp BSPC
&trans     &kp N7    &kp N8   &kp N9   &kp EQUAL &kp UNDER                    &mcr_sig &mcr_mu  &mcr_eps    &kp LBRC &kp RBRC &kp BSLH
&mo MIRROR &kp N4    &kp N5   &kp N6   &kp PLUS  &kp MINUS                    &mcr_deg &mcr_pi  &mcr_plsmns &kp LBKT &kp RBKT &none
&trans     &kp N1    &kp N2   &kp N3   &kp STAR  &kp FSLH  &trans      &trans &kp HOME &kp END  &trans      &trans   &none    &mo ADJUST
                     &kp N0   &kp DOT  &trans    &trans    &trans      &trans &trans   &trans   &trans      &trans
            >;
            sensor-bindings = <&inc_dec_kp HOME END &inc_dec_kp LEFT RIGHT>;
        };
        
        mirror_layer {
/* ╭─────────────────────────────────╮               ╭─────────────────────────╮
   | BKSPC   0     9    8    7    6  |               │                         │
   |   |     P     O    I    U    Y  |               │                         │
   |         ;:    L    K    J    H  ╰──────╮ ╭──────╯                         │
   | RSHFT   /?    .    ,    M    N    C_PP | | C_PP                           │
   ╰────────────╮                     SPACE | |                       ╭────────╯
                ╰───────────────────────────╯ ╰───────────────────────╯         */
            bindings = <
&kp BSPC      &kp N0   &kp N9  &kp N8    &kp N7 &kp N6                 &none &none  &none &none &none &none
&kp PIPE      &kp P    &kp O   &kp I     &kp U  &kp Y                  &none &none  &none &none &none &none
&trans        &kp SEMI &kp L   &kp K     &kp J  &kp H                  &none &none  &none &none &none &none
&td_Rshftcaps &kp FSLH &kp DOT &kp COMMA &kp M  &kp N  &trans   &trans &none &none  &none &none &none &none
                       &none   &none     &none  &trans &trans   &none  &none &none &none &none
            >;
            sensor-bindings = <&inc_dec_kp HOME END &inc_dec_kp LEFT RIGHT>;
        };
        
        Adjust_layer {
/* ╭─────────────────────────────────╮          ╭─────────────────────────╮
   │ BTCLR   BT1  BT2  BT3  BT4  BT5 │          │  _   _   _   _   _   _  │
   │ ExtPwr  Hue+ Sat+ Bri+  _    _  │          │  _   _   _   _   _   _  │
   │ TogRGB  Hue- Sat- Bri- Eff   _  ╰────╮ ╭───╯  _   _   _   _   _   _  │
   │   _      _    _    _    _    _     _ | | _    _   _   _   _   _   _  │
   ╰────────╮ _    _    _    _    _     _ │ │ _    _   _   _   _ ╭────────╯
            ╰─────────────────────────────╯ ╰────────────────────╯        */
        bindings = <
&bt BT_CLR                      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4               &none &none &none &none &none &none
&ext_power EXT_POWER_TOGGLE_CMD &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_BRI &none           &none                      &none &none &none &none &none &none
&rgb_ug RGB_TOG                 &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &rgb_ug RGB_EFF &none                      &none &none &none &none &none &none
&none                           &none           &none           &none           &none           &none        &trans &trans &none &none &none &none &none &none
                                                &none           &none           &none           &none        &none  &none  &none &none &none &none
            >;
            sensor-bindings = <&inc_dec_kp HOME END &inc_dec_kp LEFT RIGHT>;
        };
    };
};
